.board {
	height: 100px;
	border: 1px solid #000;
	border-radius: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
	background-color: rgb(42, 42, 255);
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	width: 230px;
	text-decoration: none;
	color: #000;
	margin-left: 10px;
	margin-right: 10px;
}

.add_board {
	width: 230px;
	height: 100px;
	border: 1px solid #000;
	border-radius: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	margin-bottom: 25px;
	margin-left: 10px;
	margin-right: 10px;
}
