.card {
	width: 97%;
	min-height: 50px;
	border-radius: 8px;
	border: 3px solid #fff;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: rgb(50, 50, 50);
	cursor: pointer;
	transition: 0.2s;
}

.title_card {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	color: #fff;
	margin-top: auto;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	outline: none;
	margin-bottom: auto;
}

.drag {
	box-shadow: 0 0 20px #000;
}

.card:hover {
	box-shadow: 0 0 5px black;
	transform: scale(1.03);
}
