.hader_board {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	width: 80%;
}

.btn_home {
	width: 300px;
	height: 60px;
	border: 2px solid #000;
	font-size: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #000;
}

.board_lists {
	display: flex;
	flex-direction: row;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
}

.list {
	width: 300px;
	margin-left: 50px;
	height: 500px;
	text-align: center;
	border: 1px solid #000;
	background-color: rgb(200, 200, 200);
}

.add_list {
	width: 300px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}

.title_list {
	font-size: 26px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	margin-top: 5px;
}

.btn_add_list {
	width: 250px;
	height: 40px;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
}
